<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Robot Nội Địa</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>com.robot.noidia</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.50</string>
    <key>CFBundleVersion</key>
    <string>53</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Ứng dụng cần quyền vị trí để tự động quét tên mạng Wi-Fi (SSID) nhà bạn khi cấu hình kết nối cho Robot.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Ứng dụng cần quyền quét mạng nội bộ để phát hiện và kết nối trực tiếp với robot Ecovacs trong mạng Wi-Fi gia đình.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_ecovacs._tcp</string>
        <string>_http._tcp</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string></string>
    </dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
